/*
    Estilos del catálogo de productos
    Usado en: index.html, tienda.html
*/

/* ==== ESTRUCTURA GENERAL ====*/

.separador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.catalogo-completo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 40px;
}

/* ==== TARJETA DE PRODUCTO ====*/

.catalogo-completo article {
    background-color: var(--blanco);
    border: 1px solid var(--bordeclaro);
    border-radius: 15px;
}

.producto-imagen {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    margin: 0;
    background-color: var(--fondoclaro);
    position: relative;
}

.producto-imagen img {
    width: 60%;
    padding: 2em 0;
}

.producto-info {
    padding-left: 1em;
}

.producto-info h3 {
    color: var(--texto);
    margin: 0;
    padding-top: 1em;
}

.producto-info p {
    color: var(--textosecundario);
    padding-top: 0.5em;
    margin: 0;
}

/* ==== ETIQUETAS ====*/

.producto-imagen .etiqueta {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1dvh;
    position: absolute;
    top: 10%;
    color: var(--blanco);
    font-size: 0.7em;
    padding: 0.5em 1em;
    border-radius: 12px;
    text-transform: uppercase;
}

.producto-imagen .izquierda {
    left: 5%;
}

.producto-imagen .derecha {
    right: 5%;
}

.etiqueta-azul {
    background-color: #635bff;
}

.etiqueta-amarilla {
    background-color: #F9A825;
}

.etiqueta-verde {
    background-color: var(--verde);
}

.etiqueta-morada {
    background-color: #8E24AA;
}

.etiqueta-naranja {
    background-color: var(--resaltado);
}

.etiqueta-gris {
    background-color: #8E939E;
}

.etiqueta-roja {
    background-color: #DC2626;
}

/* ==== CARACTERÍSTICAS LISTA ====*/

.caracteristicas {
    list-style: none;
    padding: 0;
    margin-top: 0.5em;
}

.caracteristicas span {
    font-size: 1.2em;
    vertical-align: middle;
    padding-left: 0;
}

.caracteristicas li {
    color: var(--textosecundario);
    line-height: 1.5em;
    font-size: 0.9em;
}

/* ==== COMPRAR O VER ====*/

.producto-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.producto-acciones button {
    background-color: #FCEDE8;
    border: none;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.producto-acciones button span {
    color: var(--resaltado);
    font-size: 2em;
}

/* ==== PAGINACIÓN ====
Adaptado de https://codepen.io/marhdev/pen/poyNEay */

.paginacion {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.paginacion ul {
    display: flex;
    gap: 0.5em;
    padding: 0;
    margin: 0;
    list-style: none;
}

.paginacion li a {
    display: block;
    padding: 7px 12px;
    border: 1px solid var(--bordeclaro);
    color: var(--textosecundario);
    font-size: 0.9em;
    font-weight: 600;
    background-color: var(--blanco);
    border-radius: 5px;
}

.paginacion li a.active {
    background-color: var(--resaltado);
    color: var(--blanco);
}