/* INDEX.HTML */

/* Estilos para el elemento central del index */

.imagen-central {
    height: fit-content;
    padding: 5%;
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),    
        url('/images/cocina.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.imagen-central div {
    width: 30%;
    color: var(--blanco);
}

.imagen-central p {
    font-weight: 200;
    line-height: 1.5em;
}

.imagen-central button {
    background-color: var(--resaltado);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilos para el main */

.index-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Estilos para las categorías */

.categorias {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    margin-top: 40px;
    margin-bottom: 40px;
    grid-gap: 15px;
    width: 100%;
}

.categorias article {
    border-radius: 15px;
    height: 200px;
    color: var(--blanco);
    display: flex;
    flex-direction: column;       
    justify-content: flex-end;    
    align-items: flex-start;
    padding: 3%;      
}

.categorias article h2,
.categorias article p {
    margin: 0;           
    padding: 0;          
    line-height: 1.5em; 
}

#antiadherentes {
    background-image:
        linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%),
        url('/images/antiadherente.png');
    background-size: cover;
    background-position: center;
}

#acero-inoxidable {
    background-image:
        linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%),
        url('/images/inox2.png');
    background-size: cover;
    background-position: center;
}

#hierro-fundido {
    background-image:
        linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%),
        url('/images/hierro2.png');
    background-size: cover;
    background-position: center;
}

#wok {
    background-image:
        linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%),
        url('/images/wok.png');
    background-size: cover;
    background-position: center;
}
