/*
    Estilos del carrito
    Usado en: carrito.html
*/

/*=== ESTRUCTURA GENERAL ====*/

.grid-tienda {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;
}

.filtros-seleccion {
    background-color: white;
    padding: 5%;
    border-radius: 15px;
    border: 1px solid var(--bordeclaro);
    height: fit-content;
    color: var(--textosecundario);
}

.cabecero-filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecero-filtros h3 {
    color: var(--texto);
}

.cabecero-filtros p {
    font-size: 0.8em;
    color: var(--resaltado);
    font-weight: 600;
}

/*=== FILTROS DE ORDENACIÓN ====*/

.opcion {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.opcion label {
    font-size: 0.8em;
}

.filtrar-categorias label {
    display: block;
}

/*=== SELECTOR DE DIÁMETRO ====*/

.filtro-diametro {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.filtro-diametro input[type="radio"] {
    display: none;
}

.filtro-diametro label {
    padding: 0.3em 0.7em;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background: #f7f7f7;
    transition: var(--transicionbase);
    font-size: 0.8em;
    margin-bottom: 2%;
}

/* Hover */
.filtro-diametro label:hover {
    background: #eaeaea;
}

/* Seleccionado */
.filtro-diametro input[type="radio"]:checked + label {
    border-color: var(--resaltado);
    background: #f9e7e2;
    color: var(--resaltado);
}

/*=== SLIDER DE PRECIO ====*/

#slider {
    width: 100%;
}

.rango {
    display: flex;
    justify-content: space-between;
}

.number {
    font-size: small;
}
